<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        button{
            background-color: rgb(141, 66, 245)!important;
        }
        h4{
            color:rgb(141, 66, 245);
        }
    </style>
</head>

<body>
    {% extends 'main/header.html' %}
    {% block content %}
         <div class="container">
            <h4>Login with your account:</h4>
            <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
                <button type="submit" class="btn waves-effect waves-light">Login</button>
            </form>
            Don't have an account? <a href="signup" ><strong>Sign Up here</strong></a>!
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% endblock %}
</body>